@model SafeCity2607last.Models.ApplicationUser
@inject SafeCity2607last.Data.ApplicationDbContext Context

@{
    UserProfile profile = Context.UserProfile.SingleOrDefault(x => x.ApplicationUserId.Equals(Model.Id));
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@profile.ProfilePicture" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@profile.FirstName @profile.LastName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">USER & ROLE</li>
            <li class="@Html.IsSelected(controller: MainMenu.User.ControllerName, action: MainMenu.User.ActionName)">
                <a href="@MainMenu.User.Path">
                    <i class="fa fa-users"></i> <span>@MainMenu.User.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.ChangePassword.ControllerName, action: MainMenu.ChangePassword.ActionName)">
                <a href="@MainMenu.ChangePassword.Path">
                    <i class="fa fa-key"></i> <span>@MainMenu.ChangePassword.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.Role.ControllerName, action: MainMenu.Role.ActionName)">
                <a href="@MainMenu.Role.Path">
                    <i class="fa fa-gear"></i> <span>@MainMenu.Role.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.ChangeRole.ControllerName, action: MainMenu.ChangeRole.ActionName)">
                <a href="@MainMenu.ChangeRole.Path">
                    <i class="fa fa-gear"></i> <span>@MainMenu.ChangeRole.PageName</span>
                </a>
            </li>

            <li class="header">ADMIN</li>


            <li class="@Html.IsSelected(controller: MainMenu.Admin.ControllerName)">
                <a href="@MainMenu.Admin.Path">
                    <i class="fa fa-users"></i> <span>@MainMenu.Admin.PageName</span>
                </a>
            </li>



            <li class="header">CONTROLEUR QUALITE</li>


            <li class="@Html.IsSelected(controller: MainMenu.ControleurdeQualité.ControllerName)">
                <a href="@MainMenu.ControleurdeQualité.Path">
                    <i class="fa fa-users"></i> <span>@MainMenu.ControleurdeQualité.PageName</span>
                </a>
            </li>





            <li class="header">PROPOSITIONS/PUBLICATIONS/MESSAGES</li>




            <li class="@Html.IsSelected(controller: MainMenu.PublicationPublic.ControllerName)">
                <a href="@MainMenu.PublicationPublic.Path">
                    <i class="fa fa-gear"></i> <span>@MainMenu.PublicationPublic.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.MessagePublic.ControllerName)">
                <a href="@MainMenu.MessagePublic.Path">
                    <i class="fa fa-gear"></i> <span>@MainMenu.MessagePublic.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.PropositionPublic.ControllerName)">
                <a href="@MainMenu.PropositionPublic.Path">
                    <i class="fa fa-money"></i> <span>@MainMenu.PropositionPublic.PageName</span>
                </a>
            </li>
            <li class="header">COMMENTAIRES</li>


            <li class="@Html.IsSelected(controller: MainMenu.CommentairesdePublic.ControllerName)">
                <a href="@MainMenu.CommentairesdePublic.Path">
                    <i class="fa fa-gear"></i> <span>@MainMenu.CommentairesdePublic.PageName</span>
                </a>
            </li>



            <li class="header">DASHBOARD</li>

            <li class="@Html.IsSelected(controller: MainMenu.Statistiques.ControllerName)">
                <a href="@MainMenu.Statistiques.Path">
                    <i class="fa fa-pie-chart"></i> <span>@MainMenu.Statistiques.PageName</span>
                </a>
            </li>


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>